#@ load("@ytt:data", "data")
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: #@ data.values.name + "-webhook"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: #@ data.values.name + "-webhook"
  template:
    metadata:
      labels:
        app: #@ data.values.name + "-webhook"
    spec:
      #@ if data.values.kubernetes_distribution == "openshift":
      serviceAccountName: #@ data.values.name + "-service-account"
      #@ end
      securityContext:
        runAsNonRoot: true
      imagePullSecrets:
        - name: reg-cred-convention
      containers:
        - name: webhook
          securityContext:
          #@ if data.values.kubernetes_distribution != "openshift":
            runAsUser: 1000
          #@ end
            allowPrivilegeEscalation: false
          image: registry.harbor.learn.tapsme.org/convention-service/multi-purpose-convention@sha256:a0a266152c1447090dd98f7b3c6c841323b57ba4d73a01b776c81490fb38a358
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "8443"
            - name: ANNOTATION_PREFIX
              value: #@ data.values.annotationPrefix
          resources: #@ data.values.resources
          ports:
            - containerPort: 8443
              name: webhook
          livenessProbe:
            httpGet:
              scheme: HTTPS
              port: webhook
              path: /healthz
          readinessProbe:
            httpGet:
              scheme: HTTPS
              port: webhook
              path: /healthz
          volumeMounts:
            - name: certs
              mountPath: /config/certs
              readOnly: true
      volumes:
        - name: certs
          secret:
            defaultMode: 420
            secretName: #@ data.values.name + "-webhook-cert"